{% extends "base.html" %}

{% block main %}
<h1 class="page-header">Properties</h1>



<div class="grid">
    {% for property in properties %}
    <div class="cards">
        <img src="{{ url_for('uploadimg', filename=property.picture) }}" alt ="Picture of property"> <br />
        <p id="title2">{{ property.proptitle }}</p>
        
        <p id="local">{{ property.location }}</p>
        <p class="pricec" id="box">${{ property.propprice }}</p>
        <form  method="POST" action="/properties/<propertyid>">
            <a class="id" href="{{ url_for('propertyindivid', propertyid=property.id) }}" class="go-to">View Property</a>
        </form>
        
    </div>
    {% endfor %}
</div>

{% endblock %}